.col-xs-12{
    height: 50px;
    margin-top: 50px;
}
h3{
    float: left;
}
img{
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.baseline .col-xs-12{
    height: 10px;
    background-color: #993300;
}
form{
    margin-left: 20%;

}
table tr td{
    height: 50px;
    width: 200px;
}
input[type="text"]
{
    border-radius: 10px;
    height: 40px;
}
input[type="submit"]
{
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 20px;
    width: 70px;
    height: 50px;
}
h2{
    margin-left: 20%;
}
table{
    margin-top: 50px;
}
.second{
    clear: both;
/*    background-color: #990033;*/
    margin-top: 30%;
}
#Firsr_dt_second_table{
    width: 50%;
}
a{
    color: black;
}
@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}