.row First_row_first.col-md-12{
    margin-top: 20px;
    height: 50px;
    background-color: #00ccff;
}
#window_icon{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #00ccff;
}
#User_icon{
    width: 50px;
    height: 50px;
    float: right;

}
#massage_icon{
    width: 50px;
    height: 50px;
    float: right;
}
#search{
    float: right;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
    width: 300px;
}
.firs_clas{
    margin-top: 50px;
}
.first_row{
    height: 200px;
   
  
}
.first_row .col-md-4{
    padding: 5px;
    border: 2px solid #cccccc;
   
     height: 180px;
     margin-left: 10px;
     margin-right: 10px;
     width: 30%;
     float: left;
}
#bord{
    height: 2px;
    background-color: #cccccc;
    margin-top: 30px;
        
}
#manubar_option{
    float: right;
}