
#icon{
    width: 80px;
    height: 150px;
    float: left;
}
#in{
    font-size: 25px;
    color: red;
}
#p{
    margin-top: 40px;
    color: #ccccff;
    font-size: 25px;
    font-family: initial ;

}
#back_icon{
    float: right;
}
.col-xs-12 {
    height: 80px;
    background-color:white;
    color: white;
    text-align: left;
    background-position:fixed;
    margin-top: 50px;

}
/*.baseline  .col-xs-4{
    background-color:#8A2908;
    height: 5px;
    margin-top: 50px;
    float: left;
   
} */
.baseline  .col-xs-12{
    background-color:#cccccc;
    height: 2px;
    margin-top: 50px;
  
   
} 
#back_icon{
    float: right;
    margin-top: 70px;
   


}
.password .col-xs-2{
    background-color: #990000;
    height: 25px;
    float: right;
}
a{
    color: white;
    font-size: 15px;
}
.table .col-xs-12{
    
}
/*.table{
    width: 100px;
   margin-left: 133%;
   margin-top: 50px;
   float: left;
   height: 300px;
 
   
}*/
#smal_table{
     width: 100px;
   margin-left: 133%;
   margin-top: 50px;
   float: left;
   height: 300px;
}
#bigtable{
    width: 350px;
   margin-right:  20%;
   margin-top: 50px;
   float: right;
    height: 300px;
}


form{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#col_1{
    color: #009999;
}
#view_profile_btn{
    margin-left: 50%;
    height: 40px;
    background-color: black;
    color: white;
}