#inputfield{
    width: 180px;
    border-radius: 7px;
}
table tr td{
    height: 50px;
    text-align: left;
}
form{
    margin-top: 50px;
   
}
input[type="submit"]
{
    background-color: black;
    color: white;
    border-radius: 7px;
    height: 50px;
}
input[type="reset"]
{
    background-color: black;
    color: white;
    border-radius: 7px;
    height: 50px;
}