.col-md-10{
    height: auto;
    border: 1px solid #cccccc;
}
.container{
    margin-top: 30px;
}
.col-md-2{
    height: auto;
    text-align: center;
}
#as{
    margin-top: 20px;
}
.fomula{
    margin-top: 40px;
}
#cfm{
    font-size: 12px;
}
.form-control{
   background-color: #f4f4f4;
}
input[type="submit"]
{
    background-color: #000000;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#FTL{
    margin-top: 20px;
}
.col-md-6{
    background-color: white;
    border: 1px solid #cccccc;
}
#best{
    font-size:smaller 
        
}