.container{
   margin-top: 20px;
}
.second .col-md-12{
    height: 120px;
    background-color: #cccccc;
    margin-top: 20px;
}
button{
    color: #cc0033;
    height: 40px;
    border: 2px solid #cc0033;
}
input[type="submit"]
{
    background-color: #003333;
    color: white;
    border-radius: 10px;
    height: 30px;
    width:  100px;
}