
#edit{
    margin-left: 10px;
}
.container{
    margin-top: 30px;
}
.table-bordered{
    margin-top: 30px;
}
.col-md-12{
    background-color: #006666;
    
}
.table-bordered{
    background-color: white;
    border: 20px solid  #006666;
}