.container{
    border: 2px solid #cccccc;
    height: 500px;
    margin-top: 50px;
}
.row{
    height: 500px;
      margin-top: 50px;
}
.col-xs-4{
    float: left;
     height: auto;
}
.col-xs-7{
    float: right;
    width: 60%;
    border-left:  2px solid #999999;
    height: auto;
}
#in_pt{
    margin-left: 50px;
    margin-top: 50px;
    height: 50px;
    width: 300px;
}
#bt_pt{
     margin-left: 50px;
    margin-top: 50px;
    height: 50px;
    width: 100px;
    background-color: #cc3300;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
p{
    //float: right;
    text-align: center;
}
.forter{
    clear: both;
    border-bottom:  2px solid #cccccc;
    height: 80px;
}
strong{
    color: red;
}
/*body{
    background-color: #999999;
}*/