.col-xs-2{
    float: left;
    border: 1px solid #cccccc;
    height: 150px;
    clear: both;
    margin-top: 30px;
}
.first_row  .col-xs-12{
    background-color: black;
    height: 50px;
    clear: both;
    
}
#scol_admin{
    color: white;
    float: left;
 
  font-size: 25px;
}
a{
    float: left;
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
  
}
.col-xs-9{
    
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
    border: 1px solid #cccccc;
}
#assined{
    width: 550px;
    height: 40px;
}
#ad_p{
    float: left;
    margin-bottom: 20px;
}
#domai_well{
    height: 70px;
}
#link_gst{
    color:#0099ff;
}