
.row    .col-md-12{
    height: 80px;
    background-color:#8A2908;
    color: white;
    text-align: center;
    background-position:fixed;


}
.icon .col-md-12 {
    height: 80px;
    background-color: white;
    color: white;
    text-align: left;
    background-position:fixed;
    margin-top: 50px;

}
.col-md-8{
    margin-top: 40px;
    text-align: left;
}
.col-md-4{
    margin-top: 40px;
}
button{
    border: 2px solid #8A2908;
    color: #8A2908;
    height: 30px;
    width:  100px;
}
select{
    border: 2px solid #8A2908;
    color: #8A2908;
    height: 30px;
    width: 100px;
}
input type[text]{
    height: 20px;
}
#course_h1{
    color: #666666;
    align:left;

}
#home_h2{
    color: #ff6633;
}
#back_icon{
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 20px;


}
.basle  .col-md-12{
    background-color:#8A2908;
    height: 5px;
    margin-top: 50px;

}
#m_c{
    font-size: 25px;
    font-family: initial,sans-serif,cursive;
    color: red;

}
.new .col-md-1{
    float: right;
    background-color: #8A2908;
}
#new_a{
    color: white;
}
#second_td{
    width: 200px;
    border-radius: 10px;
}
table tr td{
    width: 40px;
}
form{
    margin-top: 50px;
   
}
#second_language
{
    border-radius: 10px;
    margin-left: 50px;
    border-color: #990033;

}
input[type="submit"]
{
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
}
.font{
    background-color: #990033;
}