img{
    width: 100px;
    height: 120px;
    float: left;
}
.col-xs-3{
    float: left;
}
.col-xs-2{
    float: left;
}
p{
    margin-left: 100px;
  
}
#gc_p{
  
    color: red;
}
#con-p{
    margin-top: 50px;
    color: #009999;
}
.col-xs-12 {
    height: 80px;
    background-color:white;
    color: white;
    text-align: left;
    background-position:fixed;
    margin-top: 20px;

}
.baseline  .col-xs-12{
    height: 10px;
    background-color: #990000;
}
table{
    margin-left: 20%;
    margin-right: 20%;
    width: 55%;
    margin-top: 50px;
}
table tr td{
    width: 200px;
}
#r1{
    width: 200px;
    border-radius: 10px;
    height: 30px;
}
table tr td:empty {
    width: 600px;
}

table tr td {
    

padding: 7px;
}