#img{
    float: left;
    height: 60px;

}
#img2{
    width: 70px;
    height: 70px;
    float: right;
}
.iconrow .col-xs-12{
    height: 60px;
    background-position: top;


}
.baseline .col-xs-12{
    background-color:#990000;
    height: 5px;
    margin-top: 5px;
}
#p1{
    color: #009999;
    font-size: 20px;
    margin-top: 20px;
}

#p2{
    color: #993300;
    font-size: 15px;

}
.managecourse .col-xs-4{
    float: left;
    margin-left: 200px;
    margin-top: 50px;
}
#m_a{
    color: #ff0000;
    font-size: 15px;
    font-style: oblique;
   

}
form{
    margin-left: 300px;
    margin-top: 50px;
}

