#img{
    float: left;
    height: 60px;

}
.iconrow .col-xs-12{
    height: 60px;
    background-position: top;
    margin-top: 30px;


}
.baseline .col-xs-12{
    background-color: #ff0000;
    height: 10px;
}
.form .col-xs-12{
    margin-top: 30px;
}
table tr td{
 height: 40px;
}
form{
    margin-left: 20%;
    margin-right: 20%;
}
#form_td{
    width: 150px;
    border-radius: 10px;
}
#form_td1{
    width: 150px;
    border-radius: 10px;
    margin-left: 50px;
}
input[type="submit"]{
    margin-left: 45%;
    background-color: black;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
#hed{
    margin-right: 40px;
}
#p1{
    font-size: 15px;
    color: #0000ff;
}
